<a name="pagecontent" id="pagecontent"></a>
<div class="sixteen columns page clearfix">
  <h1> {{ page.title }} </h1>
  <div class="feature_divider"></div>
  <div>
    <div class="formcontainer">   
      <div class="sixteen columns alpha expoxy">
          <h4>Make a selection on type of epoxy system.</h4>
          <label for="contactFormName">Type of product*<span class="red">*</span></label>
          <select class="form-control" name="seal-coat" id="seal-coat">
          <option value="">Select Product</option>
          <option value="0" data-unit="12.98">Flakes Epoxy System</option>
          <option value="1" data-unit="12.98">Micas</option>
          <option value="2" data-unit="12.98">Stone Series</option>          
          <option value="3" data-unit="12.98">Woodchips</option>
          <option value="4" data-unit="12.98">Crystal Flake</option>
          <option value="5" data-unit="12.98">Glitter Accents</option>
          <option value="6" data-unit="12.98">Metallic Epoxy system</option>
          <option value="7" data-unit="12.98">Clear Epoxy system</option>
          <option value="8" data-unit="12.98">Colored epoxy system</option>
          </select>
          
        </div> 
      <div class="sixteen columns alpha expoxy">                    
          <select class="form-control seal-coat-variant" name="seal-coatv" id="seal-coat0" data-variant-id="seal-coat00" style="display:none">
          <option value="">Select Variant/Color</option>
          <option value="0" data-unit="85">Recreational Flakes</option>
          <option value="1" data-unit="85">Greystone Flakes</option>
          <option value="2" data-unit="85">Commercial Flakes</option>          
          <option value="3" data-unit="85">Insignia</option>    
          <option value="4" data-unit="85">Eclectic Flakes</option>    
          <option value="5" data-unit="85">Brownstone Flakes</option>    
          <option value="6" data-unit="85">Surreal</option>    
          <option value="7" data-unit="85">Contemporary</option>    
          <option value="8" data-unit="85">Fluorescent</option>
          <option value="9" data-unit="85">Traditional</option>    
          </select>
          <select class="form-control seal-coat-variant" name="seal-coatv" id="seal-coat1" data-variant-id="seal-coat01" style="display:none">
          <option value="">Select Variant/Color</option>
          <option value="0" data-unit="85">MB-5001</option>
          <option value="1" data-unit="85">MB-5002</option>
          <option value="2" data-unit="85">MB-5003</option>          
          <option value="3" data-unit="85">MB-5004</option>    
          <option value="4" data-unit="85">MB-5005</option>    
          <option value="5" data-unit="85">MB-5006</option>    
          <option value="6" data-unit="85">MB-5009</option>    
          <option value="7" data-unit="85">MB-5012</option>    
          <option value="8" data-unit="85">MB-5013</option>
          <option value="9" data-unit="85">MB-5015</option>    
          <option value="10" data-unit="85">MB-5016</option>    
          <option value="11" data-unit="85">MB-5017</option>    
          <option value="12" data-unit="85">M-1070 Clear</option>    
          <option value="13" data-unit="85">M-1010 Silver</option>    
          <option value="14" data-unit="85">M-1020 Gold</option>    
          <option value="15" data-unit="85">M-1050-Rum</option>    
          <option value="16" data-unit="85">M-1060-Bronze</option>    
          <option value="17" data-unit="85">M-1040-Amber</option>    
          <option value="18" data-unit="85">M-1030-Midnight</option>      
          </select>
          <select class="form-control seal-coat-variant" name="seal-coatv" id="seal-coat2" data-variant-id="seal-coat02" style="display:none">
          <option value="">Select Variant/Color</option>
          <option value="0" data-unit="85">Basalt</option>
          <option value="1" data-unit="85">Obsidian</option>
          <option value="2" data-unit="85">Schist</option>          
          <option value="3" data-unit="85">Pumice</option>    
          <option value="4" data-unit="85">Garnet</option>    
          <option value="5" data-unit="85">V.C. Brown</option>    
          <option value="6" data-unit="85">V.C. Ewa Green</option>    
          <option value="7" data-unit="85">V.C. Kona Beige</option>    
          <option value="8" data-unit="85">V.C. Lanai Gray</option>
          <option value="9" data-unit="85">V.C. Maui Blue</option>    
          <option value="10" data-unit="85">V.C. Pali Brown</option>    
          <option value="11" data-unit="85">V.C. Rose</option>    
          <option value="12" data-unit="85">Pumice Stone</option>    
          <option value="13" data-unit="85">Obsidian Stone</option>    
          <option value="14" data-unit="85">Garnet Stone</option>    
          <option value="15" data-unit="85">Schist Stone</option>    
          <option value="16" data-unit="85">Dolerite Stone</option>    
          <option value="17" data-unit="85">Basalt Stone</option>    
          <option value="18" data-unit="85">Carbon</option>     
          <option value="19" data-unit="85">Fledspar</option>     
          </select>
          <select class="form-control seal-coat-variant" name="seal-coatv" id="seal-coat3" data-variant-id="seal-coat03" style="display:none">
          <option value="">Select Variant/Color</option>
          <option value="0" data-unit="85">Aspen</option>
          <option value="1" data-unit="85">Maple</option>
          <option value="2" data-unit="85">Mahogany</option>          
          <option value="3" data-unit="85">Eastern Red Cedar</option>    
          <option value="4" data-unit="85">Birch</option>    
          <option value="5" data-unit="85">Cherry</option>    
          <option value="6" data-unit="85">White Oak</option>    
          <option value="7" data-unit="85">Zebra</option>    
          <option value="8" data-unit="85">Ebony</option>
          <option value="9" data-unit="85">Walnut</option>    
          <option value="10" data-unit="85">W2015</option>    
          <option value="11" data-unit="85">W2110</option>    
          <option value="12" data-unit="85">W2120</option>    
          <option value="13" data-unit="85">W2140</option>    
          <option value="14" data-unit="85">W2010</option>    
          <option value="15" data-unit="85">W1015</option>    
          <option value="16" data-unit="85">W1010</option>    
          <option value="17" data-unit="85">W1020</option>    
          <option value="18" data-unit="85">W1030</option>     
          <option value="19" data-unit="85">W1090</option>     
          <option value="20" data-unit="85">W1000</option>
          <option value="21" data-unit="85">W1040</option>
          <option value="22" data-unit="85">W1050</option>
          <option value="23" data-unit="85">W1070</option>
          <option value="24" data-unit="85">W1080</option>
          </select>
          <select class="form-control seal-coat-variant" name="seal-coatv" id="seal-coat4" data-variant-id="seal-coat04" style="display:none">
          <option value="">Select Variant/Color</option>
          <option value="0" data-unit="85">White-1010</option>
          <option value="1" data-unit="85">Silver-1020</option>
          <option value="2" data-unit="85">Gunmetal-1030</option>          
          <option value="3" data-unit="85">Bronze-1040</option>    
          <option value="4" data-unit="85">Gold-1050</option>    
          <option value="5" data-unit="85">Copper-1060</option>    
          <option value="6" data-unit="85">Brown-1070</option>    
          <option value="7" data-unit="85">Black-1080</option>    
          <option value="8" data-unit="85">Midnight-1090</option>
          <option value="9" data-unit="85">Pearl-2010</option>    
          <option value="10" data-unit="85">Holographic-2020</option>    
          <option value="11" data-unit="85">Crystallina-2030</option>             
          </select>
          <select class="form-control seal-coat-variant" name="seal-coatv" id="seal-coat5" data-variant-id="seal-coat05" style="display:none">
          <option value="">Select Variant/Color</option>
          <option value="0" data-unit="85">Domino FB-411 3g2020 1/4"</option>
          <option value="1" data-unit="85">Aurora CFS-1047283 3G2020 1/4"</option>
          <option value="2" data-unit="85">Stonehennge FB-427 3G2010 1/4"</option>          
          <option value="3" data-unit="85">Madras FB-706 3G2010 1/4"</option>    
          <option value="4" data-unit="85">Outback FB-517 3G1040 1/4"</option>    
          <option value="5" data-unit="85">Shoreline FB-421 3G1070 1/4"</option>    
          <option value="6" data-unit="85">Seamist FB-802 3G2030 1/4"</option>    
          <option value="7" data-unit="85">Dolerite F9311 3G2010 1/4"</option>    
          <option value="8" data-unit="85">Creekbed FB-716 3G1040 1/4"</option>
          <option value="9" data-unit="85">Appalachian FB-812 3G1090 1/4"</option>    
          <option value="10" data-unit="85">Savannah CSF-1047284 3G1060 1/4"</option>    
          <option value="11" data-unit="85">Sunshine CSF-10247285 3G1050 1/4"</option>              
          </select>
        </div> 
      <div class="sixteen columns alpha expoxy size">   
        <select class="form-control seal-coat-variant-size" name="seal-coatvs" id="seal-coat00" style="display:none">
          <option value="">Select Variant/Size</option>
          <option value="0" data-unit="85">1/4"</option>
          <option value="0" data-unit="85">1/8"</option>  
          <option value="0" data-unit="85">1/16"</option>
          </select>
        <select class="form-control seal-coat-variant-size" name="seal-coatvs" id="seal-coat01" style="display:none">
          <option value="">Select Variant/Size</option>
          <option value="0" data-unit="85">1/4"</option>
          <option value="0" data-unit="85">1/2"</option>            
          </select>
        <select class="form-control seal-coat-variant-size" name="seal-coatvs" id="seal-coat02" style="display:none">
          <option value="">Select Variant/Size</option>
          <option value="0" data-unit="85">1/4"</option>
          <option value="0" data-unit="85">1/8"</option>  
          <option value="0" data-unit="85">1/16"</option>
          </select>
        <select class="form-control seal-coat-variant-size" name="seal-coatvs" id="seal-coat03" style="display:none">
          <option value="">Select Variant/Size</option>
          <option value="0" data-unit="85">GROUP A 3/8"</option>
          <option value="0" data-unit="85">GROUP B 3/8"</option>  
          <option value="0" data-unit="85">GROUP C 3/8"</option>
          </select>
        <select class="form-control seal-coat-variant-size" name="seal-coatvs" id="seal-coat04" style="display:none">          
          </select>
        <select class="form-control seal-coat-variant-size" name="seal-coatvs" id="seal-coat05" style="display:none">             
          </select>
      </div>
        <div class="eight columns alpha">
          <label for="contactFormName" id="heightlable">Length(feet) <span class="red">*</span></label>
          <input type="text" id="length" name="length" placeholder="Length(inches)*" value="" required="required">
        </div>
        <div class="eight columns alpha">
          <label for="contactFormName" id="widthlable">Width(feet) <span class="red">*</span></label>
          <input type="text" id="width" name="width" placeholder="Width(inches)*" value="" required="required">
        </div>        
        <div class="sixteen columns alpha">
          <button id="calculatesq" name="calculatesq" class="btn">Calculate</button>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="sqft"></div>
        <input type="hidden" name="sqft" value="0" id="mycalcsqft" />
        <!--<div class="sixteen columns alpha expoxy">
          <h4>Make a selection on type of epoxy system.</h4>
          <label for="contactFormName">Type of Expoxy*<span class="red">*</span></label>
          <select class="form-control" name="seal-coat" id="seal-coat">
          <option value="">Select Epoxy</option>
          <option value="0" data-unit="85">Colored Epoxy Resin Kit</option>
          <option value="1" data-unit="115">Clear Epoxy Resin Kit</option>          
          <option value="3" data-unit="28.80">Mcu Super UV Clear Coat</option>
          </select>
          
        </div> -->
        <div class="showrequireddata"></div>
        <div class="sixteen columns alpha">
          <button id="calculateepoxy" name="calculateepoxy" class="btn">Add in cart</button>
        </div>            
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
  $(document).ready(function() {
  //
  // Sets a single error (width or height)
  //
    var variantcolor = '';
    $('#seal-coat').on('change', function() {
      var sealval = this.value;
      $('.seal-coat-variant').hide();
      $('.seal-coat-variant-size').hide();
      $('#seal-coat'+sealval).show('slow');
    });
    $('.seal-coat-variant').on('change', function() {
      var sealval = $(this).data('variant-id');
      $('.seal-coat-variant-size').hide();
      $('#'+sealval).show('slow');
      variantcolor = $( ".seal-coat-variant option:selected" ).text();
      //alert(variantcolor);
    });
  function setError(type) {
    //alert('testasdf ');
    $('#' + type+'lable').after('<span class="error">' + type + ' must be a number.</span>');
  }

  //
  // Sets all errors and returns a value
  // indicating if the form is valid.
  //
  function isValid(width, height) {
    var isValid = true;
    
    //
    // Reset errors
    //
    $('.field').find('.error').remove();
    if (isNaN(height)) {
      setError('height');
      isValid = false;
    }
    
    if (isNaN(width)) {
      setError('width');
      isValid = false;
    }
    
    return isValid;
  }

  /**
   * Handle the form submission, display success message if
   * invalid input is supplied. Otherwise display the output
   * in the target div. 
   */    
  $('#calculatesq').click(function () {    
    var inputs = {
      height: $('#length').val(),
      width:  $('#width').val()
    };
    
    var values = {
      height: parseFloat(inputs.height),
      width: parseFloat(inputs.width)
    };
    
    if (isValid(values.width, values.height)) {
      $('#mycalcsqft').val((values.width * values.height).toFixed(2));
      $('.sqft').html('Calculated area (sqft): ' + (values.width * values.height).toFixed(2));
      var datunit = $("#seal-coat").find(':selected').attr('data-unit');
      var sqftneed = $("#mycalcsqft").val();    
      var requriedepoxy = (sqftneed / datunit).toFixed(2);
      var typeofepoxy = $( "#seal-coat option:selected" ).text();
      $('.showrequireddata').html('');
      var showdata = "For "+sqftneed+" feets, you need <b>"+requriedepoxy+"</b> gallons of "+typeofepoxy+".";
      $('.showrequireddata').html(showdata);
      console.log(showdata);
      $('#calculateepoxy').show();
      //$('.expoxy').show('slow');
      //$('#calculateepoxy').show('slow');
    }
    
    return false;
  });  
  $('#calculateepoxy').click(function () {
    //alert('in ccall');
     var datunit = $("#seal-coat").find(':selected').attr('data-unit');
     var sqftneed = $("#mycalcsqft").val();    
     var requriedepoxy = (sqftneed / datunit).toFixed(2);
     var typeofepoxy = $( "#seal-coat option:selected" ).text();
     $('.showrequireddata').html('');
     var showdata = "For "+sqftneed+" feets, you need <b>"+requriedepoxy+"</b> gallons of "+typeofepoxy+".";
    $('.showrequireddata').html(showdata);
    
    console.log(showdata);
    return false;
  });
});
</script>
<style>.error{display:block;color:red;font-size:16px;font-weight:bold;}#calculateepoxy{display:none;}
  .sqft{font-size: 20px;line-height: 1.5;font-weight:bold;}
  .clearfix{clear:both;float:none;}
  .showrequireddata{font-size:24px;margin:15px 0;clear:both;float:none;font-weight:bold;}
</style>